//**** CSS Propiedades Globales ****//

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

// propiedades generales de Body //

body{
   font-family: 'Montserrat', 'Poppins', Arial, Verdana, Tahoma;
   background-color: #a1abe7;
}
